This dataset has funding information of the Indian startups from January 2015 to August 2017.

# Question :

Check the trend of investments over the years. To check the trend, find -
Total number of fundings done in each year.
Plot a line graph between year and number of fundings. Take year on x-axis and number of fundings on y-axis.
Print year-wise total number of fundings also. Print years in ascending order.
Note :
There is some error in the 'Date' feature. Make sure to handle that.

In [1]:
import pandas as pd
import numpy as np
df_start=pd.read_csv('C:/startup_funding.csv',encoding='utf-8')
df_start['CityLocation'].dropna(inplace=True)
def separateCity(city):
    return city.split('/')[0].strip()
df_start['CityLocation']=df_start['CityLocation'].apply(separateCity)
df_start['CityLocation'].replace("Delhi","New Delhi",inplace=True)
df_start['CityLocation'].replace("bangalore","Bangalore",inplace=True)
city_number=df_start['CityLocation'].value_counts()[0:10]
city=city_number.index
numCity=city_number.values
for i in range(len(city)):
    print(city[i],numCity[i])

AttributeError: 'float' object has no attribute 'split'

# Question :

Find out which cities are generally chosen for starting a startup.
Find top 10 Indian cities which have most number of startups ?
Plot a pie chart and visualise it.
Print the city name and number of startups in that city also.
Note :
Take city name "Delhi" as "New Delhi".
Check the case-sensitiveness of cities also. That means - at some place, instead of "Bangalore", "bangalore" is given. Take city name as "Bangalore".
For few startups multiple locations are given, one Indian and one Foreign. Count those startups in Indian startup also. Indian city name is first.
Print the city in descending order with respect to the number of startups.

In [10]:
import pandas as pd
import numpy as np
df_start=pd.read_csv('C:/startup_funding.csv',encoding='utf-8')
df_start['CityLocation'].dropna(inplace=True)
def separateCity(city):
    return city.split('/')[0].strip()
df_start['CityLocation']=df_start['CityLocation'].apply(separateCity)
df_start['CityLocation'].replace("Delhi","New Delhi",inplace=True)
df_start['CityLocation'].replace("bangalore","Bangalore",inplace=True)
city_number=df_start['CityLocation'].value_counts()[0:10]
city=city_number.index
numCity=city_number.values
for i in range(len(city)):
    print(city[i],numCity[i])

AttributeError: 'float' object has no attribute 'split'

# Question :

Find out if cities play any role in receiving funding.
Find top 10 Indian cities with most amount of fundings received. Find out percentage of funding each city has got (among top 10 Indian cities only).
Print the city and percentage with 2 decimal place after rounding off.
Note:
Take city name "Delhi" as "New Delhi".
Check the case-sensitiveness of cities also. That means - at some place, instead of "Bangalore", "bangalore" is given. Take city name as "Bangalore".
For few startups multiple locations are given, one Indian and one Foreign. Count those startups in Indian startup also. Indian city name is first.
Print the city in descending order with respect to the percentage of funding.

In [9]:
import pandas as pd
import numpy as np
df_start=pd.read_csv('C:/startup_funding.csv',encoding='utf-8')
df_start['CityLocation'].dropna(inplace=True)
def separateCity(city):
    return city.split('/')[0].strip()
df_start['CityLocation']=df_start['CityLocation'].apply(separateCity)
df_start['CityLocation'].replace("Delhi","New Delhi",inplace=True)
df_start['CityLocation'].replace("bangalore","Bangalore",inplace=True)
## Converting "AmountInUSD" into numeric format
df_start["AmountInUSD"] = df_start["AmountInUSD"].apply(lambda x: float(str(x).replace(",","")))
df_start["AmountInUSD"] = pd.to_numeric(df_start["AmountInUSD"])
city_amount=df_start.groupby('CityLocation')['AmountInUSD'].sum().sort_values(ascending=False)[0:10]
city=city_amount.index
amountCity=city_amount.values
perAmount=np.true_divide(amountCity, amountCity.sum())*100
for i in range(len(city)):
    print(city[i],format(perAmount[i],'.2f'))

AttributeError: 'float' object has no attribute 'split'

# Question :

There are 4 different type of investments. Find out percentage of amount funded for each investment type.
Plot a pie chart to visualise.
Print the investment type and percentage of amount funded with 2 decimal places after rounding off.
Note :
Correct spelling of investment types are - "Private Equity", "Seed Funding", "Debt Funding", and "Crowd Funding". Keep an eye for any spelling mistake. You can find this by printing unique values from this column.
Print the investment type in descending order with respect to the percentage of the amount funded.

In [8]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import csv

df=pd.read_csv('C:/startup_funding.csv',encoding='utf-8')

df['InvestmentType'].replace("Crowd funding","Crowd Funding",inplace=True)
df['InvestmentType'].replace("PrivateEquity","Private Equity",inplace=True)
df['InvestmentType'].replace("SeedFunding","Seed Funding",inplace=True)

df["AmountInUSD"] = df["AmountInUSD"].apply(lambda x: float(str(x).replace(",","")))
df["AmountInUSD"] = pd.to_numeric(df["AmountInUSD"])
city_amount=df.groupby('InvestmentType')['AmountInUSD'].sum().sort_values(ascending=False)[0:10]
city=city_amount.index
amountCity=city_amount.values
perAmount=np.true_divide(amountCity, amountCity.sum())*100
for i in range(len(city)):
    print(city[i],format(perAmount[i],'.2f'))

Private Equity 98.15
Seed Funding 1.81
Debt Funding 0.04
Crowd Funding 0.00

# Question :

Which type of companies got more easily funding. To answer this question, find -
Top 5 industries and percentage of the total amount funded to that industry. (among top 5 only)
Print the industry name and percentage of the amount funded with 2 decimal place after rounding off.
Note :
Ecommerce is the right word in IndustryVertical, so correct it.
Print the industry in descending order with respect to the percentage of the amount funded.

In [7]:
import pandas as pd
import numpy as np
df=pd.read_csv('C:/startup_funding.csv',encoding='utf-8')

df['IndustryVertical'].replace("eCommerce","Ecommerce",inplace=True)
df['IndustryVertical'].replace("ECommerce","Ecommerce",inplace=True)
df['IndustryVertical'].replace("ecommerce","Ecommerce",inplace=True)
## Converting "AmountInUSD" into numeric format
df["AmountInUSD"] = df["AmountInUSD"].apply(lambda x: float(str(x).replace(",","")))
df["AmountInUSD"] = pd.to_numeric(df["AmountInUSD"])
industry_amount=df.groupby('IndustryVertical')['AmountInUSD'].sum().sort_values(ascending=False)[0:5]
industry=industry_amount.index
amount=industry_amount.values
perAmount=np.true_divide(amount, amount.sum())*100
for i in range(len(industry)):
    print(industry[i],format(perAmount[i],'.2f'))

Ecommerce 40.53
Consumer Internet 35.95
Technology 10.45
Online Marketplace 6.63
E-Commerce & M-Commerce platform 6.44

# Question :

Find top 5 startups with most amount of total funding.
Print the startup name in descending order with respect to amount of funding.
Note:
Ola, Flipkart, Oyo, Paytm are important startups, so correct their names. There are many errors in startup names, ignore correcting all, just handle important ones.

In [6]:
import pandas as pd
import numpy as np
import csv

df=pd.read_csv("C:/startup_funding.csv",encoding="utf-8")
df2=df.copy()

def startCheck(x):
    if(x == 'OYO Rooms'):
        return 'Oyo'
    elif (x == 'Oyorooms'):
        return 'Oyo'
    elif (x == 'Ola Cabs'):
        return 'Ola'
    elif(x == 'Paytm Marketplace'):
        return 'Paytm'
    elif(x=="Flipkart.com"):
        return "Flipkart"
    elif(x=="Olacabs"):
        return "Ola"
    elif(x=="Oyo Rooms"):
        return "Oyo"
    elif(x=="OYO"):
        return "Oyo"
    
    return x
df2['StartupName'] = df2['StartupName'].apply(startCheck)
df2["AmountInUSD"]=df2["AmountInUSD"].apply(lambda x: float(str(x).replace(",","")))
df2["AmountInUSD"]= pd.to_numeric(df2["AmountInUSD"])
amount= df2.groupby("StartupName")["AmountInUSD"].sum().sort_values(ascending=False)[0:5]

start=amount.index
funding=amount.values


for i in start:
    print(i)

Paytm
Flipkart
Ola
Snapdeal
Oyo

# Question :

Find the top 5 startups who received the most number of funding rounds. That means, startups which got fundings maximum number of times.
Print the startup name in descending order with respect to the number of funding round as integer value.
Note:
Ola, Flipkart, Oyo, Paytm are important startups, so correct their names. There are many errors in startup names, ignore correcting all, just handle important ones.

In [4]:
import pandas as pd
import numpy as np
import csv

df=pd.read_csv("C:/startup_funding.csv",encoding="utf-8")
df2=df.copy()

def startCheck(x):
    if(x == 'OYO Rooms'):
        return 'Oyo'
    elif (x == 'Oyorooms'):
        return 'Oyo'
    elif (x == 'Ola Cabs'):
        return 'Ola'
    elif(x == 'Paytm Marketplace'):
        return 'Paytm'
    elif(x=="Flipkart.com"):
        return "Flipkart"
    elif(x=="Olacabs" ):
        return "Ola"
    elif(x=="Oyo Rooms" or x=='OYO Rooms'):
        return "Oyo"
    elif(x=="OYO" or x=='OyoRooms'):
        return "Oyo"
    
    return x
df2['StartupName'] = df2['StartupName'].apply(startCheck)
count_startup = df2['StartupName'].value_counts()[0:5]
startup=count_startup.index
number=count_startup.values
for i in range(len(startup)):
    print(startup[i],number[i])

Ola 9
Swiggy 7
Oyo 6
UrbanClap 6
Paytm 6

# Question :

Find the Investors who have invested maximum number of times.
Print the investor name and number of times invested as integer value.
Note:
In startup, multiple investors might have invested. So consider each investor for that startup.
Ignore the undisclosed investors.

In [5]:
import numpy as np
import csv
with open('C:/startup_funding.csv', encoding='utf8') as file_obj:
    file_data=csv.DictReader(file_obj, skipinitialspace=True)
    investors=[]
    for row in file_data:
        if not ('Undisclosed' in row['InvestorsName'] or 'undisclosed' in row['InvestorsName']):
            for i in row['InvestorsName'].split(','):
                investors.append(i.strip())
    dic=dict()
    for i in investors:
        if i in dic.keys():
            dic[i]+=1
        else:
            dic[i]=1
    x=[]
    y=[]
    for i in dic.keys():
        x.append(i)
        y.append(dic[i])
    np_x=np.array(x)
    np_y=np.array(y)
    np_x=np_x[np.argsort(np_y)]
    np_y=np.sort(np_y)
    
    np_y=np_y[::-1]
    np_x=np_x[::-1]
    print(np_x[0], np_y[0])
    print(np_x[1], np_y[1])
    print(np_x[2], np_y[2])
    print(np_x[3], np_y[3])
    print(np_x[4], np_y[4])

Sequoia Capital 64
Accel Partners 52
 46
Kalaari Capital 44
SAIF Partners 41